* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c1e283;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.logo {
    width: 80px; 
    height: auto;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

h2 {
    margin-top: 10px; 
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.kakao-button {
    border: none; 
    background: none; 
    cursor: pointer; 
    padding: 0; 
}

.kakao-image {
    width: 100%;
    height: auto; 
}