
#logo {
  height: 70px;
  width: auto;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
  background: radial-gradient(ellipse, #bad784, #bad784, #C1E283);
}

.appHeader {
  display: flex;
  flex-direction: row;
  background-color: #C1E283;
  height: 170px;
  background-image: url('./BGtop.png');
  background-position: 76% 90%;
  background-repeat: no-repeat;

}

#mpButtonA {
  margin-left: auto;
  margin-right: 50px;
  margin-top: 30px;
}

#mpButton {
  height: 40px;
  font-size: 15px;
  border-radius: 13px;
  border: 0;
  border-style: solid;
  /*background-color: #568807;*/
  background-image: url('./soilTexture.jpg');
  background-position: 40% 40%;
  letter-spacing: 0.5px;
  font-weight: 800;
  padding: 12px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

